/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke-width: 2;
}

/* Fills the lines between the nodes */
line {
    stroke: black;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: black;
    stroke: #fff;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

#target {
    width: 100%;
    height: 20em;
}

#chartz {
    display: table;
    margin: 0 auto;
}

#nodez {
    display: table;
    margin: 0 auto;
}

.average_line_chart {
    display: table;
    margin: 0 auto;
}

h3 {
    text-align: center;
}


 /* Place the navbar at the bottom of the page, and make it stick */
.bottombar {
    background-color: rgb(194, 194, 194);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .bottombar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .bottombar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .bottombar a.active {
    background-color: #4CAF50;
    color: white;
  }